<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./import/head-manager') %>
</head>
<body>
    <main>
        <%- include(`./${page}`) %>
    </main>
    <%- include('./shared/message') %>
    <%- include('./import/script-manager') %>
</body>
</html>

